<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
    
      body { 
        background: #eee; 
      }
      
      img.photo {
        margin: 0;
        padding: 0;
        display: block;
        float: left;
      }
      
    </style>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>