<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/overcast/jquery-ui-1.8.4.custom.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"></script>
    <script>
    window.imageSize = 'Square';
    
    var spinner;
            
        function getLoading(el) {
          
          return {
              stop: function (){
                  $(el).hide();
              },
              start: function (){
                  $(el).show();
              }
          };
        }
        
        $( function() {
           spinner = getLoading( $('#loading') );
           spinner.stop()
        });
            
    
      (function () {
          
          var FORM_EL = '#search-form',
              GROUP_EL = '#group',
              LI_ITEM = '<a href="{LINK}"><img class="photo" src="{URL}" /></a>';
          
          $(function() {     
            
            /*
            $( GROUP_EL ).focus(function (evt) {
                var placeholder = $(this).attr('placeholder'),
                    url         = placeholder.replace('e.g. ', '');
                $(this).val(url);
            });
            */
            
            var datePickerOpts = {
              dateFormat: 'yy-mm-dd'
            }
            
            $( '#from' ).datepicker(datePickerOpts);
            $('#to').datepicker(datePickerOpts);
            
            $('input[type=radio]').click( function() {
              window.imageSize = $(this).val();
              if ( window.photoData ) { processData(window.photoData); }
            });
            //$('input[name="image-size"]:checked', '#myForm').val()
            
            
            $( FORM_EL ).submit( function (evt) {
              
              var paramsMap = getParamMap( 
                          this, [
                            'from', 'to', 'group', 'limit'
                          ]);
              var paramsString = toParamString( paramsMap );
              
              spinner.start();
              $.getJSON(
                '/photos.json?' + paramsString,
                null,
                function ( data ) {
                  
                  window.photoData = data;
                  processData( data );
                  spinner.stop();
                  
                }
              );

              return false;
            });
            
            $( FORM_EL ).submit();
          });
          
          function processData( data ) {
            var photosStr = '';
            
            data.forEach(function( item ) {
                 
                var imageSize = item.sizes[window.imageSize] ? window.imageSize : 'Square';
              
                var li = LI_ITEM.replace(
                    '{URL}', 
                    item.sizes[imageSize].source
                );
                li = li.replace(
                    '{LINK}', 
                    item.url
                );
                photosStr += li;
            });
                                                                  
            $('#photos').html( photosStr );
          }

          function getParamMap( formEl, keys ) {
              var params = {};
            
              keys.forEach( function ( k ) {
                  var value = $( FORM_EL + ' #' + k ).val();
                  if ( value ) { params[k] = value; }
              });
           
              return params;
          }
          
          function toParamString( map ) {
              var str = '';
              for( var k in map ) {
                str += k + '=' + map[k] + '&';
              }
              return str;
          }
      })();

      
    </script>
    
    <title>
      {{title}}
    </title>
    <style>
    
      body { 
        background: #eee; 
        font-family: Helvetica Neue, Arial;
        padding: 0;
        margin: 0;
      }
      
      h1 {
        margin-left: 75px;
      }
      
      #photos {
        margin: 0;
        padding: 0;
      }
      
      img.photo {
        margin: 0;
        padding: 0;
        display: block;
        float: left;
      }

      #loading {
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    
      .hud {
        color: #FFF;
        width: 320px;
        border: 1px solid #EEE;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
        position: absolute;
        left: 50%;
        z-index: 1000;
        font-size: 11px;
      }
      
      #search-form {
        position: relative;
      }
      
      #search-form fieldset {
        border: none;
        padding: 0;
        margin: 0;
      }
      
      #search-form legend {
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        margin-bottom: 5px;
        width: 300px;
      }

      #search-form label,
      #search-form input {
        /* height: 20px; */
      }

      #search-form label {
        float: left;
        text-align: right;
        width: 100px;
        padding-right: 10px;
      }
   
      #search-form input {
        float: left;
        width: 200px;
      }
      
  
      #search-form input[type="range"]{
         z-index: 9999999;
      }
/*
      #search-form input[type="range"]::-webkit-slider-thumb{
         -webkit-appearance:none !important; 
         background-color: 1px solid white; 
       }
*/      
      #search-form input[type^=submit] {
        border: 1px solid #FFF;
        background-color: #000;
        color: #FFF;
        width: 100px;
        float: right;
      }
      
    </style>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
    <div id="photos"></div>
  </body>
</html>