<h1>Browse flickr</h1>

<div class="hud">
  <form id='search-form' action="/photos">
    <fieldset>
    	<legend>Search options</legend>
    	<label for="from">From</label>
    	<input type="date" name="from" value="{{last_year}}" id="from">
	
    	<label for="to">To</label>
    	<input type="date" name="to" value="" id="to">
	
    	<label for="group">Group URL</label>
    	<input type="url" name="group" value="http://www.flickr.com/groups/weatherphoto/" id="group" placeholder="e.g. http://www.flickr.com/groups/weatherphoto/">
    	
    	<label for="group">Search term</label>
    	<input type="search" name="search" value="" id="search" placeholder="e.g. weather">
	
    	<label for="limit">Number photos <span></span></label>
    	<input  type="range"
    	        min="1"
    	        max="50"
    	        step="1" 
    	        name="limit" 
    	        value="10" 
    	        id="limit">
	
    	<input type="submit" name="submit" value="Search" id="submit">
    </fieldset>
	
  	<img id='loading' src="/loader.gif" />
  </form>

  <hr />
  <label for"image-size">Image size:</label>
  <input type="radio" name="image-size" value="Square" checked /> Square
  <input type="radio" name="image-size" value="Medium" /> Medium
  <input type="radio" name="image-size" value="Large" /> Large
</div>